<%- include('./partials/header.ejs') %>

<section id="home">
    <h1 class="h-primary"><strong>Get The <span>Right Job</span> You Deserve</strong></h1>
</section>


<%- include('./partials/footer.ejs') %>